# Model Composer projects – ignore everything inside them
*

# But allow directories
!*/

# Allow MATLAB files anywhere
!*.m
!*.slx

# Allow filter coefficient files
!FIRCOE_RAM_init/*

# Keep this file itself
!.gitignore
